body{
    font-family: Verdana;

}

.bg{
    border: solid;
    height: 300px;
}

.color-red{
    background-color: red;
    
}

.color-green{
    background-color: green;
}

.bg-img{
    background: url(../../../semana1/images/maplestory-1146x645.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.bg-karate{
    background: url(../../../semana1/images/karate.png);
    height: 500px;
    color: pink;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}